.dedit {
  padding: 20px;
  margin-bottom: 20px;
}
.dedit-success {
  border: 2px solid #46b450;
}
.dedit-error {
  border: 2px solid #f00;
}
.wpcf7-form-control label.check-wrapper{
    padding: 0 !important;
    margin: -15px -15px -4px!important
}